<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heresy.heresy">


    <application
        android:name="com.heresy.heresy.Application"
        android:allowBackup="true"
        android:fontFamily="@font/hanchorong_n"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyNoActionBarTheme">

        <activity android:name="com.heresy.heresy.Dialouge_Use"
            android:theme="@style/Dialouge" ></activity>
        <activity android:name="com.heresy.heresy.Dialouge_Own_zero"
            android:theme="@style/Dialouge" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6192078009124891~5702234038" />

        <activity
            android:name="com.heresy.heresy.Now"
            android:theme="@style/Dialouge" />
        <activity
            android:name="com.heresy.heresy.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.heresy.heresy.Fine" />
        <activity
            android:name="com.heresy.heresy.Skip_popup"
            android:theme="@style/Dialouge" />
        <activity
            android:name="com.heresy.heresy.SkipPage"
            android:theme="@style/Dialouge" />
        <activity android:name="com.heresy.heresy.T1_kakao" />
        <activity android:name="com.heresy.heresy.T1_text" />
        <activity android:name="com.heresy.heresy.T1_text_image" />
        <activity android:name="com.heresy.heresy.T1_choice" />
        <activity android:name="com.heresy.heresy.Success" />
        <activity android:name="com.heresy.heresy.Endings"
            />
        <activity android:name="com.heresy.heresy.Story" />
        <activity android:name="com.heresy.heresy.SecondPage" />
        <activity android:name="com.heresy.heresy.MainActivity" />
    </application>

</manifest>