<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heresy">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fontFamily="@font/hanchorong_n"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyNoActionBarTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6192078009124891~5702234038"/>
        <activity android:name=".Now"
            android:theme="@style/Dialouge"
            ></activity>
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fine" />
        <activity android:name=".Skip_popup" />
        <activity
            android:name=".SkipPage"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".T1_kakao" />
        <activity android:name=".T1_text" />
        <activity android:name=".T1_text_image" />
        <activity android:name=".T1_choice" />
        <activity android:name=".Success" />
        <activity android:name=".Endings" />
        <activity android:name=".Story" />
        <activity android:name=".SecondPage" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>